.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.card-content {
    height: 500px;
}

#routes-description {
    height: 175px;
}

#routes-name {
    height: 20px;
}

.input-field>label {
    font-size: 0.75rem;
}

.card-content-category {
    height: 100px;
}

#add-category-label {
    font-size: 1.0rem;
}