{% extends "base.html" %}
{% block content %}

<h3 class="teal-text center-align">Add Route</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_route') }}">
        <!-- category selector-->
        <div class="row">
            <div class="input-field s12">
                <i class="fas fa-graduation-cap prefix teal-text"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose category</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label for="category_name">Category</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field s12">
                <i class="fas fa-graduation-cap prefix teal-text"></i>
                <select id="route_difficulty" name="route_difficulty" class="validate" required>
                    <option value="" disabled selected>Choose category</option>
                    {% for difficulty_level in difficulty_levels %}
                    <option value="{{ difficulty_level.route_difficulty }}">{{ difficulty_level.route_difficulty }}</option>
                    {% endfor %}
                </select>
                <label for="route_difficulty">Difficulty</label>
            </div>
        </div>
        <!-- route name -->
        <div class="row">
            <div class="input-field s12">
                <i class="fas fa-align-left prefix teal-text"></i>
                <textarea id="route_name" name="route_name" minlength="10" maxlength="200"
                    class="materialize-textarea validate" required></textarea>
                <label for="route_name">Route Name</label>
            </div>
        </div>
        <!-- route image -->
        <div class="row">
            <div class="input-field s12">
                <i class="fas fa-align-left prefix teal-text"></i>
                <textarea id="route_image" name="route_image" minlength="10" maxlength="200"
                    class="materialize-textarea validate" required></textarea>
                <label for="route_image">Route Image</label>
            </div>
        </div>
        <!-- route description -->
        <div class="row">
            <div class="input-field s12">
                <i class="fas fa-align-left prefix teal-text"></i>
                <textarea id="route_description" name="route_description" minlength="10" maxlength="200"
                    class="materialize-textarea validate" required></textarea>
                <label for="route_description">Route Description</label>
            </div>
        </div>
        <!-- route distance -->
        <div class="row">
            <div class="input-field s12">
                <i class="fas fa-align-left prefix teal-text"></i>
                <textarea id="route_distance" name="route_distance" minlength="1" maxlength="10"
                    class="materialize-textarea validate" required></textarea>
                <label for="route_distance">Route Distance</label>
            </div>
        </div>
        <!-- route link -->
        <div class="row">
            <div class="input-field s12">
                <i class="fas fa-align-left prefix teal-text"></i>
                <textarea id="route_link" name="route_link" minlength="1" maxlength="200"
                    class="materialize-textarea validate" required></textarea>
                <label for="route_link">Route Link</label>
            </div>
        </div>
        <!-- add new study session button -->
        <div class="row">
            <div class="col center-align s12">
                <button class="btn-large light-blue darken-2 waves-effect waves-light" type="submit">
                    Add Route<i class="fas fa-plus right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}