{% extends "base.html" %}
{% block content %}

<h4 class="blue-grey-text center-align">Add Category</h4>

<div class="container">
    <div class="row card-panel grey lighten-5">
        <form class="" method="POST" action="{{ url_for('add_category') }}">
            <!-- category name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix blue-grey-text"></i>
                    <input id="category_name" name="category_name" minlength="3" maxlength="25" type="text"
                        class="validate" required>
                    <label for="category_name" id="add-category-label">Category Name</label>
                </div>
            </div>
            <!-- add category button -->
            <div class="row">
                <div class="center-align">
                    <a href="{{ url_for('get_categories') }}" class="btn red accent-4 waves-effect">
                        Cancel
                    </a>
                    <button class="btn-small cyan darken-2 waves-effect" type="submit">
                        Add
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}