{% extends "base.html" %}
{% block content %}

<h4 class="blue-grey-text darken-5 center-align">Add Route</h4>

<div class="container">
    <div class="row card-panel grey lighten-5">
        <form class="" method="POST" action="{{ url_for('add_route') }}">
            <!-- category selector-->
            <div class="row">
                <div class="input-field">
                    <i class="fas fa-bicycle prefix blue-grey-text darken-5"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose category</option>
                        {% for category in categories %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="category_name">Category</label>
                </div>
            </div>
            <!-- route difficulty selector-->
            <div class="row">
                <div class="input-field">
                    <i class="fas fa-dumbbell prefix blue-grey-text darken-5"></i>
                    <select id="route_difficulty" name="route_difficulty" class="validate" required>
                        <option value="" disabled selected>Choose difficulty</option>
                        {% for difficulty_level in difficulty_levels %}
                        <option value="{{ difficulty_level.route_difficulty }}">{{ difficulty_level.route_difficulty }}
                        </option>
                        {% endfor %}
                    </select>
                    <label for="route_difficulty">Difficulty</label>
                </div>
            </div>
            <!-- route name -->
            <div class="row">
                <div class="input-field">
                    <i class="fas fa-map-signs prefix blue-grey-text darken-5"></i>
                    <input id="route_name" name="route_name" minlength="2" maxlength="60" type="text" 
                        class="materialize-textarea validate" required>
                    <label for="route_name" class="routes-label">Route Name (max 60 char)</label>
                </div>
            </div>
            <!-- route image -->
            <div class="row">
                <div class="input-field">
                    <i class="fas fa-image prefix blue-grey-text darken-5"></i>
                    <input id="route_image" name="route_image" minlength="2" maxlength="200" type="text"
                        class="materialize-textarea validate" required>
                    <label for="route_image" class="routes-label">Route Image (upload image URL)</label>
                </div>
            </div>
            <!-- route description -->
            <div class="row">
                <div class="input-field">
                    <i class="fas fa-align-left prefix blue-grey-text darken-5"></i>
                    <textarea id="route_description" name="route_description" minlength="10" maxlength="300"
                        class="materialize-textarea validate" required></textarea>
                    <label for="route_description" class="routes-label">Route Description (max 300 char)</label>
                </div>
            </div>
            <!-- route distance -->
            <div class="row">
                <div class="input-field">
                    <i class="fas fa-route prefix blue-grey-text darken-5"></i>
                    <input id="route_distance" name="route_distance" minlength="1" maxlength="10" type="text"
                        class="materialize-textarea validate" required>
                    <label for="route_distance" class="routes-label">Route Distance (distance in miles or kilometres)</label>
                </div>
            </div>
            <!-- route link -->
            <div class="row">
                <div class="input-field">
                    <i class="fas fa-link prefix blue-grey-text darken-5"></i>
                    <input id="route_link" name="route_link" minlength="1" maxlength="200" type="text"
                        class="materialize-textarea validate" required>
                    <label for="route_link" class="routes-label">Route Link (link to your route e.g. Strava, MapMyRide)</label>
                </div>
            </div>
            <!-- add route button -->
            <div class="row">
                <div class="center-align">
                    <button class="btn-large light-blue darken-2 waves-effect waves-light" type="submit">
                        Add Route<i class="fas fa-plus right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}