{% extends "base.html" %}
{% block content %}

<h4 class="blue-grey-text center-align">Add Cycling Tip Category</h4>

<div class="container">
    <div class="row card-panel grey lighten-5">
        <form class="" method="POST" action="{{ url_for('add_cycling_tip_category') }}">
            <!-- category name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix blue-grey-text"></i>
                    <input id="category_name" name="category_name" type="text" pattern="([^\s][A-z\s]+){3,25}$"
                        class="validate" required>
                    <label for="category_name" id="add-category-label">Category Name</label>
                    <span class="helper-text" data-error="3-25 characters, letters and spaces only"
                        data-success="Valid Input">3-25 characters, letters and spaces only</span>
                </div>
            </div>
            <!-- add cycling tip button -->
            <div class="row">
                <div class="center-align">
                    <a href="{{ url_for('get_categories') }}" class="btn-small red accent-4 waves-effect">
                        Cancel
                    </a>
                    <button class="btn-small cyan darken-2 center waves-effect" type="submit">
                        Add
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}