{% extends "base.html" %}
{% block content %}

<h4 class="blue-grey-text center-align">Add Difficulty Level</h4>

<div class="container">
    <div class="row card-panel grey lighten-5">
        <form class="" method="POST" action="{{ url_for('add_difficulty_level') }}">
            <!-- difficulty level name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix blue-grey-text"></i>
                    <input id="route_difficulty" name="route_difficulty" type="text" pattern="([^\s][A-z\s]+){3,25}$" class="validate" required>
                    <label for="route_difficulty" id="add-category-label">Difficulty Level</label>
                    <span class="helper-text" data-error="3-25 characters, letters and spaces only" data-success="Valid Input">3-25 characters, letters and spaces only</span>
                </div>
            </div>
            <!-- add category button -->
            <div class="row">
                <div class="center-align">
                    <a href="{{ url_for('get_categories') }}" class="btn-small red accent-4 waves-effect">
                        Cancel
                    </a>
                    <button class="btn-small cyan darken-2 waves-effect" type="submit">
                        Add
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}