<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>VeloRoute</title>
</head>

<header>
    <!-- main navigation menu -->
    <nav class="nav-extended cyan darken-2">
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">VeloRoute</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#">Home</a></li>
            <li><a href="{{ url_for('get_routes') }}">Routes</a></li>
            <li><a href="{{ url_for('get_cycling_tips') }}">Cycling Tips</a></li>
            {% if session.user %}
            <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
            <li><a href="{{ url_for('add_route') }}">Add Route</a></li>
            {% if session.user|lower == "admin"|lower %}
            <li><a href="{{ url_for('add_cycling_tip') }}">Add Cycling Tip</a></li>
            <li><a href="{{ url_for('get_categories') }}">Categories</a></li>
            {% endif %}
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
      <!-- mobile collabsible side navigation menu -->
      <ul class="sidenav right" id="mobile-demo">
        <li><h4 class="center-align cyan-text text-darken-4">VeloRoute</h4></li>
        <li><a href="#">Home</a></li>
            <li><a href="{{ url_for('get_routes') }}">Routes</a></li>
            <li><a href="{{ url_for('get_cycling_tips') }}">Cycling Tips</a></li>
            {% if session.user %}
            <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
            <li><a href="{{ url_for('add_route') }}">Add Route</a></li>
            {% if session.user|lower == "admin"|lower %}
            <li><a href="{{ url_for('add_cycling_tip') }}">Add Cycling Tip</a></li>
            <li><a href="{{ url_for('get_categories') }}">Categories</a></li>
            {% endif %}
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
      </ul>
</header>

<section>
  <!-- display flash messages -->
  <!-- remember to customize differently -->
  {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
          <div class="row flashes">
              <h4 class="center-align cyan lighten-2 white-text">{{ message }}</h4>
          </div>
          {% endfor %}
      {% endif %}
  {% endwith %}
</section>

<body>
    {% block content %}

    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

<footer class="page-footer cyan darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Social Media</h5>
          <ul>
            <li><a href="#!"><i class="fa fa-facebook-square white-text"></i></a></li>
            <li><a class="white-text" href="#!">Link</a></li>
            <li><a class="white-text" href="#!">Link</a></li>
            <li><a class="white-text" href="#!">Link</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Copyright Matthew Leach
      </div>
    </div>
  </footer>

</html>