{% extends "base.html" %}
{% block content %}

<h4 class="blue-grey-text darken-5 center-align">Categories</h4>

<!-- route categories -->
<div class="row">
  <div class="col s12 center-align">
    <a href="{{ url_for('add_category') }}" class="btn cyan darken-2 waves-effect">
      Add Route Category
    </a>
  </div>
</div>

<div class="container">
  <div class="row">
    {% for category in categories %}
    <div class="col s8 offset-s2 m4">
      <div class="card card-categories grey lighten-5 center-align z-depth-4">
        <div class="card-content-category blue-grey-text darken-5">
          <span class="card-title valign">{{ category.category_name }}</span>
        </div>
        <div class="card-action card-action-categories">
          <a href="{{ url_for('edit_category', category_id=category._id) }}"
            class="btn-small cyan darken-2 waves-effect waves-effect">Edit
          </a>
          <!-- delete route category modal trigger -->
          <a class="modal-trigger btn-small red accent-4 waves-effect"
            href="#delete-modal{{ categories[loop.index0] }}">Delete</a>
          <!-- delete route category modal -->
          <div id="delete-modal{{ categories[loop.index0] }}" class="modal">
            <div class="modal-content">
              <h5>Delete Cycling Route Category</h5>
              <p>Are you sure you want to permanently delete the <strong>{{ category.category_name }}</strong> route
                category?</p>
            </div>
            <div class="modal-footer">
              <a href="{{ url_for('get_categories') }}"
                class="modal-close btn-small cyan darken-2 waves-effect waves-effect">Cancel
              </a>
              <a href="{{ url_for('delete_category', category_id=category._id) }}"
                class="modal-close btn-small red accent-4 waves-effect">Delete
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- cycling tips categories -->
<div class="row">
  <div class="col s12 center-align">
    <a href="{{ url_for('add_cycling_tip_category') }}" class="btn cyan darken-2 waves-effect">
      Add Cycling Tip Category
    </a>
  </div>
</div>

<div class="container">
  <div class="row">
    {% for cycling_tip_category in cycling_tip_categories %}
    <div class="col s8 offset-s2 m4">
      <div class="card card-categories grey lighten-5 center-align z-depth-4">
        <div class="card-content-category blue-grey-text darken-5">
          <span class="card-title">{{ cycling_tip_category.category_name }}</span>
        </div>
        <div class="card-action card-action-categories">
          <a href="{{ url_for('edit_cycling_tip_category', cycling_tip_category_id=cycling_tip_category._id) }}"
            class="btn-small cyan darken-2 waves-effect waves-effect">Edit
          </a>
          <!-- delete cycling tip category modal trigger -->
          <a class="modal-trigger btn-small red accent-4 waves-effect"
            href="#delete-modal{{ cycling_tip_categories[loop.index0] }}">Delete
          </a>
          <!-- delete cycling tip category modal -->
          <div id="delete-modal{{ cycling_tip_categories[loop.index0] }}" class="modal">
            <div class="modal-content">
              <h5>Delete Cycling Tip Category</h5>
              <p>Are you sure you want to permanently delete the <strong>{{ cycling_tip_category.category_name
                  }}</strong> route
                category?</p>
            </div>
            <div class="modal-footer">
              <a href="{{ url_for('get_categories') }}"
                class="modal-close btn-small cyan darken-2 waves-effect waves-effect">Cancel
              </a>
              <a href="{{ url_for('delete_cycling_tip_category', cycling_tip_category_id=cycling_tip_category._id) }}"
                class="modal-close btn-small red accent-4 waves-effect">Delete
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- difficulty level categories -->
<div class="row">
  <div class="col s12 center-align">
    <a href="{{ url_for('add_difficulty_level') }}" class="btn cyan darken-2 waves-effect">
      Add Difficulty Level
    </a>
  </div>
</div>

<div class="container">
  <div class="row">
    {% for difficulty_level in difficulty_levels %}
    <div class="col s8 offset-s2 m4">
      <div class="card card-categories grey lighten-5 center-align z-depth-4">
        <div class="card-content-category blue-grey-text darken-5">
          <span class="card-title">{{ difficulty_level.route_difficulty }}</span>
        </div>
        <div class="card-action">
          <a href="{{ url_for('edit_difficulty_level', difficulty_level_id=difficulty_level._id) }}"
            class="btn-small cyan darken-2 waves-effect waves-effect">Edit
          </a>
          <!-- delete difficulty level modal trigger -->
          <a class="modal-trigger btn-small red accent-4 waves-effect"
            href="#delete-difficulty-level-modal{{ difficulty_levels[loop.index0] }}">Delete
          </a>
          <!-- delete difficulty level modal -->
          <div id="delete-difficulty-level-modal{{ difficulty_levels[loop.index0] }}" class="modal">
            <div class="modal-content">
              <h5>Delete Difficulty Level Category</h5>
              <p>Are you sure you want to permanently delete the <strong>{{ difficulty_level.route_difficulty
                  }}</strong> route
                category?</p>
            </div>
            <div class="modal-footer">
              <a href="{{ url_for('get_categories') }}"
                class="modal-close btn-small cyan darken-2 waves-effect waves-effect">Cancel
              </a>
              <a href="{{ url_for('delete_difficulty_level', difficulty_level_id=difficulty_level._id) }}"
                class="modal-close btn-small red accent-4 waves-effect">Delete
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}