{% extends "base.html" %}
{% block content %}

<h4 class="blue-grey-text darken-5 center-align">Categories</h4>

<!-- route categories -->
<div class="row">
  <div class="col s12 center-align">
    <a href="{{ url_for('add_category') }}" class="btn cyan darken-2 waves-effect">
      Add Route Category
    </a>
  </div>
</div>

<div class="container">
  <div class="row">
    {% for category in categories %}
    <div class="col s8 offset-s2 m4">
      <div class="card card-categoriesgrey lighten-5 center-align z-depth-4">
        <div class="card-content-category blue-grey-text darken-5">
          <span class="card-title valign">{{ category.category_name }}</span>
        </div>
        <div class="card-action card-action-categories">
          <a href="{{ url_for('delete_category', category_id=category._id) }}"
            class="btn-small red accent-4 waves-effect">Delete</a>
          <a href="{{ url_for('edit_category', category_id=category._id) }}"
            class="btn-small cyan darken-2 waves-effect waves-effect">Edit</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- cycling tips categories -->
<div class="row">
  <div class="col s12 center-align">
    <a href="{{ url_for('add_cycling_tip_category') }}" class="btn cyan darken-2 waves-effect">
      Add Cycling Tip Category
    </a>
  </div>
</div>

<div class="container">
  <div class="row">
    {% for cycling_tip_category in cycling_tip_categories %}
    <div class="col s8 offset-s2 m4">
      <div class="card card-categories grey lighten-5 center-align z-depth-4">
        <div class="card-content-category blue-grey-text darken-5">
          <span class="card-title">{{ cycling_tip_category.category_name }}</span>
        </div>
        <div class="card-action card-action-categories">
          <a href="{{ url_for('delete_cycling_tip_category', cycling_tip_category_id=cycling_tip_category._id) }}"
            class="btn-small red accent-4 waves-effect">Delete</a>
          <a href="{{ url_for('edit_cycling_tip_category', cycling_tip_category_id=cycling_tip_category._id) }}"
            class="btn-small cyan darken-2 waves-effect">Edit</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}