{% extends "base.html" %}
{% block content %}

<h4 class="center-align blue-grey-text darken-5">Cycling Tips</h4>

<!-- display cycling tips -->
<div class="container">
  <div class="row">
    {% for cycling_tip in cycling_tips %}
    <div class="col s12 m6 l4">
      <div class="card grey lighten-5 z-depth-4">
        <div class="card-image">
          <img src="{{ cycling_tip.cycling_tip_image }}" alt="Cycling Tip Image">
        </div>
        <div class="card-content">
          <h6 class="card-name"><strong>{{ cycling_tip.cycling_tip_name }}</strong></h6><br>
          <p class="card-description">{{ cycling_tip.cycling_tip_description}}</p><br>
          <div>
            {% if session.user|lower == cycling_tip.created_by|lower %}
              <a href="{{ url_for('edit_cycling_tip', cycling_tip_id=cycling_tip._id) }}"
              class="btn-small cyan darken-2 waves-effect">Edit
              </a>
              <!-- delete cycling tip modal trigger -->
              <a href="#delete-modal{{ loop.index0 }}"
                class="btn-small red accent-4 waves-effect modal-trigger">Delete
              </a>
            {% endif %}
          </div>
        </div>
        <div class="card-action">
          <a class="light-blue-text darken-2" href="{{ cycling_tip.cycling_tip_link }}" target="_blank">Tip Link </a>
        </div>
      </div>
    </div>
    <!-- delete cycling tip modal -->
    <div id="delete-modal{{ loop.index0 }}" class="modal">
      <div class="modal-content s4">
        <h5>Delete Cycling Tip</h5>
        <p>Are you sure you want to permanently delete <strong>{{ cycling_tip.cycling_tip_name }}?</strong></p>
      </div>
      <div class="modal-footer">
        <a href="{{ url_for('get_cycling_tips') }}" class="modal-close btn-small cyan darken-2 waves-effect">
          Cancel
        </a>
        <a href="{{ url_for('delete_cycling_tip', cycling_tip_id=cycling_tip._id) }}" class="modal-close btn-small red accent-4 waves-effect">
          Delete
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}