{% extends "base.html" %}
{% block content %}

<h5 class="blue-grey-text center-align">Edit Route</h5>

<div class="container">
    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_route', route_id=route._id) }}">
            <!-- category selector-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-bicycle prefix blue-grey-text"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled>Choose category</option>
                        {% for category in categories %}
                        {% if category.category_name == route.category_name %}
                        <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                        {% else %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="category_name">Category</label>
                </div>
            </div>
            <!-- route difficulty selector -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-dumbbell prefix blue-grey-text"></i>
                    <select id="route_difficulty" name="route_difficulty" class="validate" required>
                        <option value="" disabled>Choose difficulty level</option>
                        {% for difficulty_level in difficulty_levels %}
                        {% if difficulty_level.route_difficulty == route.route_difficulty %}
                        <option value="{{ difficulty_level.route_difficulty }}" selected>
                            {{- difficulty_level.route_difficulty -}}
                            {% else %}
                        <option value="{{ difficulty_level.route_difficulty }}">{{ difficulty_level.route_difficulty }}
                        </option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="route_difficulty">Difficulty</label>
                </div>
            </div>
            <!-- country selector -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-globe-europe prefix blue-grey-text"></i>
                    <select id="country_name" name="country_name" class="validate" required>
                        <option value="" disabled>Choose country</option>
                        {% for country in countries %}
                        {% if country.country_name == route.country_name %}
                        <option value="{{ country.country_name }}" selected>
                            {{- country.country_name -}}
                            {% else %}
                        <option value="{{ country.country_name }}">{{ country.country_name }}
                        </option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="country_name">Country</label>
                </div>
            </div>
            <!-- route name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-map-signs prefix blue-grey-text"></i>
                    <input id="route_name" name="route_name" type="text"
                        value="{{- route.route_name -}}" minlength="5" maxlength="50" pattern="([^\s][A-z0-9À-ž\s]+)$" class="validate" required>
                    <label for="route_name">Route Name</label>
                    <span class="helper-text" data-error="5-50 characters, letters and numbers only" data-success="Valid Input"></span>
                </div>
            </div>
            <!-- route image -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-image prefix blue-grey-text"></i>
                    <input id="route_image" name="route_image" minlength="2" maxlength="200" type="text" value="{{- route.route_image -}}" pattern="^https?://(?:[a-z0-9\-]+\.)+[a-z]{2,6}(?:/[^/#?]+)+\.(?:jpg|jpeg|gif|png)$" class="validate" required>
                    <label for="route_image">Route Image</label>
                    <span class="helper-text" data-error="Please enter a valid image URL" data-success="Valid Input"></span>
                </div>
            </div>
            <!-- route description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix blue-grey-text"></i>
                    <textarea id="route_description" name="route_description" pattern="([^\s][A-z0-9À-ž\s]+){10,300}$" class="materialize-textarea validate" required>{{- route.route_description -}}</textarea>
                    <label for="route_description">Route Description</label>
                </div>
            </div>
            <!-- route distance -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-route prefix blue-grey-text"></i>
                    <input id="route_distance" name="route_distance" minlength="1" maxlength="6" type="text" value="{{- route.route_distance -}}" pattern="^[1-9][0-9]*$" class="validate" required>
                    <label for="route_distance">Route Distance</label>
                    <span class="helper-text" data-error="Please enter numbers only" data-success="Valid Input"></span>
                </div>
            </div>
            <!-- route link -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-link prefix blue-grey-text"></i>
                    <input id="route_link" name="route_link" minlength="1" maxlength="200" type="url" value="{{- route.route_link -}}" class="validate" required>
                    <label for="route_link">Route Link</label>
                    <span class="helper-text" data-error="Please enter a valid URL" data-success="Valid Input"></span>
                </div>
            </div>
            <!-- edit route buttons -->
            <div class="row">
                <div class="col center-align col s12">
                    <a href="{{ url_for('profile', username=session['user']) }}" class="btn red accent-4 waves-effect">
                        Cancel
                    </a>
                    <button class="btn cyan darken-2 waves-effect" type="submit">
                        Edit Route
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}