{% extends "base.html" %}
{% block content %}

<h5 class="blue-grey-text center-align">Edit Route</h5>

<div class="container">
    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_route', route_id=route._id) }}">
            <!-- category selector-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-bicycle prefix blue-grey-text"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled>Choose category</option>
                        {% for category in categories %}
                        {% if category.category_name == route.category_name %}
                        <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                        {% else %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="category_name">Category</label>
                </div>
            </div>
            <!-- route difficulty -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-dumbbell prefix blue-grey-text"></i>
                    <select id="route_difficulty" name="route_difficulty" class="validate" required>
                        <option value="" disabled>Choose category</option>
                        {% for difficulty_level in difficulty_levels %}
                        {% if difficulty_level.route_difficulty == route.route_difficulty %}
                        <option value="{{ difficulty_level.route_difficulty }}" selected>
                            {{- difficulty_level.route_difficulty -}}
                            {% else %}
                        <option value="{{ difficulty_level.route_difficulty }}">{{ difficulty_level.route_difficulty }}
                        </option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="route_difficulty">Difficulty</label>
                </div>
            </div>
            <!-- route name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-map-signs prefix blue-grey-text"></i>
                    <input id="route_name" name="route_name" minlength="10" maxlength="60" type="text"
                        value="{{- route.route_name -}}" class="materialize-textarea validate" required>
                    <label for="route_name">Route Name</label>
                </div>
            </div>
            <!-- route image -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-image prefix blue-grey-text"></i>
                    <input id="route_image" name="route_image" minlength="2" maxlength="200" type="text"
                        value="{{- route.route_image -}}" class="materialize-textarea validate" required>
                    <label for="route_image">Route Image</label>
                </div>
            </div>
            <!-- route description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix blue-grey-text"></i>
                    <input id="route_description" name="route_description" minlength="10" maxlength="300" type="text" value="{{- route.route_description -}}" class="materialize-textarea validate" required>
                    <label for="route_description">Route Description</label>
                </div>
            </div>
            <!-- route distance -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-route prefix blue-grey-text"></i>
                    <input id="route_distance" name="route_distance" minlength="1" maxlength="10" type="text" value="{{- route.route_distance -}}" class="materialize-textarea validate" required>
                    <label for="route_distance">Route Distance</label>
                </div>
            </div>
            <!-- route link -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-link prefix blue-grey-text"></i>
                    <input id="route_link" name="route_link" minlength="1" maxlength="200" type="text" value="{{- route.route_link -}}"
                        class="materialize-textarea validate" required>
                    <label for="route_link">Route Link</label>
                </div>
            </div>
            <!-- edit route button -->
            <div class="row">
                <div class="col center-align col s12">
                    <a href="{{ url_for('profile', username=session['user']) }}" class="btn red accent-4 waves-effect">
                        Cancel
                    </a>
                    <button class="btn cyan darken-2 waves-effect" type="submit">
                        Edit Route
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}