{% extends "base.html" %}
{% block content %}

<h4 class="blue-grey-text center-align">Add Cycling Tip</h4>

<div class="container">
    <div class="row card-panel grey lighten-5">
        <form class="" method="POST" action="{{ url_for('edit_cycling_tip', cycling_tip_id=cycling_tip._id) }}">
            <!-- category selector-->
            <div class="row">
                <div class="input-field">
                    <i class="fas fa-bicycle prefix blue-grey-text darken-5"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose category</option>
                        {% for cycling_tip_category in cycling_tip_categories %}
                        {% if cycling_tip_category.category_name == cycling_tip_category.category_name %}
                        <option value="{{ cycling_tip_category.category_name }}" selected>{{ cycling_tip_category.category_name }}</option>
                        {% else %}
                        <option value="{{ cycling_tip_category.category_name }}">{{ cycling_tip_category.category_name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="category_name">Category</label>
                </div>
            </div>
            <!-- cycling tip name -->
            <div class="row">
                <div class="input-field">
                    <i class="fas fa-map-signs prefix blue-grey-text darken-5"></i>
                    <input id="cycling_tip_name" name="cycling_tip_name" minlength="5" maxlength="70" pattern="([^\s][A-z0-9À-ž\s]+)$" value="{{- cycling_tip.cycling_tip_name -}}" type="text" pattern="([^\s][A-z0-9À-ž\s]+)$" class="validate" required>
                    <label for="cycling_tip_name" class="routes-label">Cycling Tip Name (max 70 char)</label>
                    <span class="helper-text" data-error="5-70 characters, letters and numbers only" data-success="Valid Input"></span>
                </div>
            </div>
            <!-- cycling tip image -->
            <div class="row">
                <div class="input-field">
                    <i class="fas fa-image prefix blue-grey-text darken-5"></i>
                    <input id="cycling_tip_image" name="cycling_tip_image" minlength="2" maxlength="200" type="text" value="{{- cycling_tip.cycling_tip_image -}}"  pattern="^https?://(?:[a-z0-9\-]+\.)+[a-z]{2,6}(?:/[^/#?]+)+\.(?:jpg|jpeg|gif|png)$" class="validate" required>
                    <label for="cycling_tip_image" class="routes-label">Cycling Tip Image (upload image URL)</label>
                    <span class="helper-text" data-error="Please enter a valid image URL" data-success="Valid Input"></span>
                </div>
            </div>
            <!-- cycling tip description -->
            <div class="row">
                <div class="input-field">
                    <i class="fas fa-align-left prefix blue-grey-text darken-5"></i>
                    <textarea id="cycling_tip_description" name="cycling_tip_description" minlength="10" maxlength="300" pattern="([^\s][A-z0-9À-ž\s]+){10,300}$" class="materialize-textarea validate" required>{{- cycling_tip.cycling_tip_description -}}</textarea>
                    <label for="cycling_tip_description" class="routes-label">Cycling Tip Description (max 300 char)</label>
                </div>
            </div>
            <!-- cycling tip link -->
            <div class="row">
                <div class="input-field">
                    <i class="fas fa-link prefix blue-grey-text"></i>
                    <input id="cycling_tip_link" name="cycling_tip_link" minlength="5" maxlength="200" type="url" value="{{- cycling_tip.cycling_tip_link -}}" class="validate" required>
                    <label for="cycling_tip_link" class="routes-label">Cycling Tip Link (link to cycling tip info)</label>
                    <span class="helper-text" data-error="Please enter a valid URL" data-success="Valid Input"></span>
                </div>
            </div>
            <!-- edit cycling tip button -->
            <div class="row">
                <div class="center-align">
                    <a href="{{ url_for('get_cycling_tips') }}" class="btn red accent-4 waves-effect">
                        Cancel
                    </a>
                    <button class="btn cyan darken-2 waves-effect" type="submit">
                        Edit Cycling Tip
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}