{% extends "base.html" %}
{% block content %}

<h4 class="blue-grey-text center-align">Edit Cycling Tip Category</h4>

<div class="container">
    <div class="row card-panel grey lighten-5">
        <form class="" method="POST" action="{{ url_for('edit_cycling_tip_category', cycling_tip_category_id=cycling_tip_category._id) }}">
            <!-- category name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix blue-grey-text"></i>
                    <input id="category_name" name="category_name" type="text" value="{{ cycling_tip_category.category_name }}" minlength="3" maxlength="25" pattern="([^\s][A-z\s]+)$" class="validate" required>
                    <label for="category_name" id="add-category-label">Cycling Tip Category Name</label>
                    <span class="helper-text" data-error="3-25 characters, letters and spaces only" data-success="Valid Input">3-25 characters, letters and spaces only</span>
                </div>
            </div>
            <!-- add cycling tip category button -->
            <div class="row">
                <div class="center-align">
                    <a href="{{ url_for('get_categories') }}" class="btn red accent-4 waves-effect">
                        Cancel
                    </a>
                    <button class="btn cyan darken-2 waves-effect" type="submit">
                        Edit Cycling Tip Category
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}