{% extends "base.html" %}
{% block content %}

<!-- tagline -->
<div class="row" id="hero-image">
    <div class="col s12 intro-text">
        <h3 class="grey-text text-lighten-5" id="tagline">Where will your next ride take you?</h3>
        <p class="grey-text text-lighten-5" id="sub-tagline">Cycling routes for inspiration.</p>
    </div>
</div>

<!-- intro -->
<div class="container">
    <div class="row">
        <div class="col s12">
            <h3 class="center-align">Find your perfect route</h3>
            <h5 class="center-align">
                Road, gravel, trail or commute? Want to try a new route but don't have the time to create a new one?
            </h5>
            <h5 class="center-align">
                Find the best cycle routes around the world.
            </h5>
        </div>
    </div>
</div>

<!-- call to action to join us -->
    <div class="blue-grey darken-3" id="join-us">
        <h4 class="center-align grey-text text-lighten-5">SHARE YOUR FAVOURITE ROUTES FOR OTHER CYCLISTS TO ENJOY.</h4>
        <p class="center-align grey-text text-lighten-5"><a href="{{ url_for('join_us') }}">Join Us</a></p>
    </div>

<div class="container" id="home-routes-section">
    <!-- small device routes display  -->
    <div class="row show-on-small hide-on-med-and-up">
        {% for route in small_routes %}
        <div class="col s12">
            <div class="card z-depth-4">
                <div class="card-image">
                    <img src="{{ route.route_image }}" alt="Route Image">
                </div>
                <div class="card-action card-action-home">
                    <a class="blue-grey-text darken-5" href="{{ route.route_link }}" target="_blank"><i class="fas fa-link prefix blue-grey-text darken-5"></i>  {{ route.route_name }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- medium and large device routes display  -->
    <div class="row hide-on-small-only">
        {% for route in med_large_routes %}
        <div class="col s12 m6 l4">
            <div class="card z-depth-4">
                <div class="card-image">
                    <a href="">
                    <img src="{{ route.route_image }}" alt="Route Image">
                </a>
                </div>
                <div class="card-action card-action-home">
                    <a class="blue-grey-text darken-5" href="{{ route.route_link }}" target="_blank"><i class="fas fa-link prefix blue-grey-text darken-5"></i>  {{ route.route_name }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}