{% extends "base.html" %}
{% block content %}

<h4 class="center-align blue-grey-text">Join Us</h4s>

<div class="row">
    <form class="col s12 m8 offset-m2 l6 offset-l3" method="POST" action="{{ url_for('join_us') }}">
        <div class="card-panel">
            <!-- username -->
            <div class="row">
                <div class="input-field col s12 tooltipped" data-position="bottom" data-tooltip="Please enter a username 5 to 15 characters, numbers and letters only">
                    <i class="fas fa-user prefix blue-grey-text darken-5"></i>
                    <input id="username" name="username" type="text" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <!-- first name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-file-signature prefix blue-grey-text darken-5"></i>
                    <input id="first_name" name="first_name" type="text" minlength="2" pattern="^[a-zA-Z]+$" class="validate" required>
                    <label for="first_name">First Name</label>
                </div>
            </div>
            <!-- last name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-file-signature prefix blue-grey-text darken-5"></i>
                    <input id="last_name" name="last_name" type="text" minlength="2" pattern="^[a-zA-Z]+$" class="validate" required>
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <!-- email address -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-envelope prefix blue-grey-text darken-5"></i>
                    <input id="email" name="email" type="text" pattern="^[A-Za-z0-9+_.-]+@(.+)$" class="validate"
                        required>
                    <label for="email">Email Address</label>
                </div>
            </div>
            <!-- password -->
            <div class="row">
                <div class="input-field col s12 tooltipped" data-position="bottom" data-tooltip="Please enter password 5 to 15 characters, numbers and letters only">
                    <i class="fas fa-user-lock prefix blue-grey-text darken-5"></i>
                    <input id="password" name="password" type="password" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- join us button -->
            <div class="row center-align">
                <button type="submit" class="col s6 offset-s3 btn-large cyan darken-2">
                    Join Us
                </button>
            </div>
        </div>
    </form>

    <!-- log in divert text -->
    <div class="row">
        <div class="col s12">
            <p class="center-align blue-grey-text darken-4 divert-text">
                Already Joined? <a href="{{ url_for('login') }}" class="light-blue-text text-darken-4">Log In</a>
            </p>
        </div>
    </div>

</div>

{% endblock %}