{% extends "base.html" %}
{% block content %}

<!-- profile details display -->
<div class="container">
  <div class="col s12 m6 offset-m3">
    <div class="card-panel">
      <h4 class="center-align blue-grey-text">
        {{ username }}'s Profile
      </h4>
      <p class="center-align blue-grey-text">
        <strong>Name:</strong> {{ first_name }} {{ last_name }}
      </p>
      <p class="center-align blue-grey-text">
        <strong>Email Address:</strong> {{ email }}
      </p>
    </div>
  </div>
</div>

<h4 class="blue-grey-text center-align">Your Routes</h4>

<!-- user's submitted routes -->
<div class="container">
  <div class="row">
    {% for route in routes %}
    <div class="col s12 m12 l6">
      <div class="card grey lighten-5 z-depth-4">
        <div class="card-image">
          <img src="{{ route.route_image }}" alt="Route Image">
        </div>
        <div class="card-content">
          <div id="card-name">
            <h6><strong>{{ route.route_name }}</strong></h6>
          </div>
          <p id="card-description">{{ route.route_description}}</p><br>
          <p><strong>Type: </strong>{{ route.category_name }}</p><br>
          <p><strong>Distance: </strong>{{ route.route_distance }} km</p><br>
          <p><strong>Difficulty: </strong>{{ route.route_difficulty }}</p><br>
          <p><strong>Created By: </strong><em>{{ route.created_by }}</em></p><br>
          <div class="card-buttons">
            <a href="{{ url_for('delete_route', route_id=route._id) }}"
              class="btn-small red accent-4 waves-effect modal-trigger" data-target="delete-route-modal">Delete</a>
            <a href="{{ url_for('edit_route', route_id=route._id) }}"
              class="btn-small cyan darken-2 waves-effect">Edit</a>
          </div>
        </div>
        <div class="card-action">
          <a class="light-blue-text darken-2" href="{{ route.route_link }}" target="_blank">Route Link</a>
        </div>
      </div>
    </div>
    <div id="delete-route-modal" class="modal">
      <div class="modal-content s4">
        <h5>Delete Route</h5>
        <p>Are you sure you want to permanently delete this route?</p>
      </div>
      <div class="modal-footer">
        <a href="{{ url_for('profile', username=session['user']) }}" class="modal-close btn-small cyan darken-2 waves-effect">Cancel</a>
        <a href="{{ url_for('delete_route', route_id=route._id) }}" class="modal-close btn-small red accent-4 waves-effect">Delete</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}