{% extends "base.html" %}
{% block content %}

<h4 class="center-align blue-grey-text text-darken-5">Routes</h4>

<!-- routes search -->
<div class="container">
  <div class="row card-panel z-depth-0" id="route-search">
    <form action="{{ url_for('route_search') }}" method="POST" class="col s12">
      <div class="row valign-wrapper center-align">
        <div class="input-field col s8">
          <input type="text" name="route_query" id="route_query" minlength="3" class="validate" required>
          <label for="route_query" id="search-label">Search Routes</label>
        </div>
        <div class="row valign-wrapper center-align"></div>
        <div class="col s4">
          <button type="submit" class="btn-small cyan darken-2 waves-effects center-align">
            <i class="i fas fa-search"></i>
          </button>
          <div>
            <a href="{{ url_for('get_routes') }}" class="btn-small red accent-4 waves-effect">
              <i class="i fas fa-undo"></i>
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- routes search display -->
  {% if routes.count() > 0 %}
  <div class="row">
    {% for route in routes %}
    <div class="col s12 m12 l6">
      <div class="card grey lighten-5 z-depth-4">
        <div class="card-image">
          <img src="{{ route.route_image }}" alt="Route Image">
        </div>
        <div class="card-content">
          <h6 id="routes-name"><strong>{{ route.route_name }}</strong></h6><br>
          <p id="routes-description">{{ route.route_description}}</p><br>
          <p><strong>Type: </strong>{{ route.category_name }}</p><br>
          <p><strong>Distance: </strong>{{ route.route_distance }}</p><br>
          <p><strong>Difficulty: </strong>{{ route.route_difficulty }}</p><br>
          <p><strong>Added By: </strong><em>{{ route.created_by }}</em></p><br>
        </div>
        <div class="card-action">
          <a class="blue-grey-text darken-5 link-text" href="{{ route.route_link }}" target="_blank">Route Link</a>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <!-- search no results message -->
      <div class="row">
        <div class="col s12"></div>
        <h4 class="blue-grey-text text-darken-5 center-align">No results found! Please try another search.</h4>
      </div>
  </div>
  {% endif %}
</div>
</div>

{% endblock %}