{% extends "base.html" %}
{% block content %}

<h4 class="center-align blue-grey-text">Routes</h4>

<!-- routes search -->
<div class="container">
  <div class="row card-panel z-depth-0" id="route-search">
    <form action="{{ url_for('route_search') }}" method="POST" class="col s12">
      <div class="row valign-wrapper center-align">
        <div class="input-field col s10">
          <input type="text" name="route_query" id="route_query" minlength="3" class="validate" required>
          <label for="route_query" id="search-label">Search Routes</label>
        </div>
        <div class="row valign-wrapper center-align"></div>
        <div class="col s4">
          <button type="submit" class="btn-small search-btn cyan darken-2 waves-effects center-align">
            <i class="i fas fa-search"></i>
          </button>
          <div>
            <a href="{{ url_for('get_routes') }}" class="btn-small search-btn red accent-4 waves-effect">
              <i class="i fas fa-undo"></i>
            </a>
          </div>
        </div>
      </div>
  </div>
  </form>
</div>

<!-- routes search display -->
<div class="container">
  {% if routes.count() > 0 %}
  <div class="row">
    {% for route in routes %}
    <div class="col s12 m6 l4">
      <div class="card grey lighten-4 z-depth-4">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{{ route.route_image }}" alt="Route Image">
        </div>
        <div class="card-content">
          <span class="card-title activator"><i class="far fa-hand-pointer"></i> {{ route.route_name }}</span>
          <p><a class="light-blue-text darken-4" href="{{ route.route_link }}" target="_blank">ROUTE LINK</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title activator"><strong>{{ route.route_name }}</strong><i
              class="fas fa-times right"></i></span>
          <p class="card-description">{{ route.route_description}}</p>
          <p><a class="light-blue-text darken-4" href="{{ route.route_link }}" target="_blank">ROUTE LINK</a></p>
          <p><strong>Type: </strong>{{ route.category_name }}</p>
          <p><strong>Country: </strong>{{ route.country_name }}</p>
          <p><strong>Distance: </strong>{{ route.route_distance }} km</p>
          <p><strong>Difficulty: </strong>{{ route.route_difficulty }}</p>
          <p><strong>Created By: </strong><em>{{ route.created_by }}</em></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% else %}
<!-- search no results message -->
<div class="row">
  <div class="col s12"></div>
  <h4 class="blue-grey-text center-align">No results found! Please try another search.</h4>
</div>
{% endif %}
</div>

{% endblock %}